.tour-card {
  max-width: 411px;
  width: 100%;
  border: 1px solid #D3EAFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
 
}

.tour-card__top {
  display: flex;
  flex-direction: column;
}

.tour-card__img {
  width: 100%;
}

.tour-card__text {
  padding: 28px 32px;
}

.tour-card__name {
  text-align: center;
  margin: 0;
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Syne', sans-serif;
}

.tour-card__description {
  text-align: center;
  margin: 0;
  color: #556B84;
  font-size: 24px;
  font-weight: 300;
}

.tour-card__buttons {
  display: flex;
  padding: 24px 32px;
  padding: auto;
  box-sizing: border-box;
  padding-top: auto;
  gap: 16px;
}




